$backgroundColour: #fff;
$textColour: #222;
$baseColour: #ccc;
$textFont: Arial;
$section: lighten($baseColour, 16);
$visible: #c00;
$titleBar: #ccc;
$oddRow: white;
$evenRow: #eee;
$borderStyle: 1px solid #999;
$errorColour: #f55;